name: Notify Slack on PR Comments

on:
  issue_comment:
    types: [created]  # 댓글이 새로 생성될 때 실행
  workflow_dispatch:  # 수동 실행 가능하도록 설정

jobs:
  send_to_slack:
    runs-on: ubuntu-latest

    steps:
      - name: Send PR comment notification to Slack
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: |
            {
"text": ":확성기: New PR Comment on *${{ github.event.issue.title }}*\ntitle: View Comment\nURL: ${{ github.event.comment.html_url }}\ntext: *Comment by @${{ github.actor }}:* ${{ github.event.comment.body }}"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_COMMENT_WEBHOOK }}  # GitHub Secrets에서 Webhook 가져오기

